body {
    /*колір фону*/
    background-color: rgb(219, 253, 255);
    /*колір тексту*/
    color: rgb(119, 0, 255);
}

/*колір тексту посилання*/

a {
    color: rgb(255, 51, 0);
}

/*вирівнювання для заголовків*/
h1, h2 {
    text-align: center;
}